#thumbnails {
  height: 200px;
  width: 100%;
  display: block;
}


/*.list-group-addon {
  position: absolute;
}*/

.menudrop + div ul {
  position: static;
  display: block;
  margin-bottom: 5px;
  clear: left;
}
